.navbar-toggler{
    border: none;
    outline: none;
    background: transparent;
}

nav .logo {
  width: 15vw;
}

.nav-headWithLogo{
  /* background-color: red; */
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.nav-bookBtn{
  background-color: #cf2e2e;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  nav .logo {
    width: 30vw;
  }
}
  